<!-- 侧栏 -->
<div class="pc_temp_side">
    <!-- 热门榜单 -->
    <div class="pc_rank_sidebar pc_rank_sidebar_first pc_rank_sidebar_collapse">
	{if condition="$param['menu']"}
		{volist name="param.menu" id="v"}
        <h3 data-index="0">
            <a href="javascript:;" hidefocus="true" title="{$v.name}">{$v.name} <i class="pc_temp_arrow"></i></a>
        </h3>
        <ul>
			{foreach  name="v.list" item="i" key="k"}
            <li>
                <a title="{$i.name}" hidefocus="true" href="{:url('rank',array('id'=>$k))}" class='{if condition="$param['id'] eq $k"}current{else /}link_ads{/if}'>
                    <span style="background-image:url(__PUBLIC__/images/topicon/{$k}.png);"></span>
                    {$i.name}
                    {if condition="$i['hot']"}
					<img height="18" width="50" class="link_ads" src="__PUBLIC__/images/blank.gif" style="background-image:url(__PUBLIC__/images/topicon/hot.png);">
					{/if}
                </a>
            </li>
			{/foreach}
        </ul>
		{/volist}
	{/if}
    </div>
    <!-- 特色音乐榜
    <div class="pc_rank_sidebar ">
        <h3 data-index="1"><a href="javascript:;" hidefocus="true" title="特色音乐榜">特色音乐榜<i class="pc_temp_arrow"></i></a></h3>
        <ul>																												<li>
            <a title="洗脑神曲" id="24574" hidefocus="true" href="http://www.kugou.com/yy/rank/home/1-24574.html?from=rank" onclick="sdnClick(36538)">
                <span style="background-image:url(http://imge.kugou.com/stdmusic/20160108/20160108180453655920.png);_background-image:none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=&#39;http://imge.kugou.com/stdmusic/20160108/20160108180453655920.png&#39;, sizingMethod=&#39;crop&#39;);"></span>
                洗脑神曲
            </a>
        </li>																												<li>
            <a title="百大DJ" id="24306" hidefocus="true" href="http://www.kugou.com/yy/rank/home/1-24306.html?from=rank" onclick="sdnClick(36270)">
                <span style="background-image:url(http://imge.kugou.com/stdmusic/20151222/20151222143059932587.png);_background-image:none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=&#39;http://imge.kugou.com/stdmusic/20151222/20151222143059932587.png&#39;, sizingMethod=&#39;crop&#39;);"></span>
                百大DJ
            </a>
        </li>																												<li>
            <a title="伤感网络情歌" id="28542" hidefocus="true" href="http://www.kugou.com/yy/rank/home/1-28542.html?from=rank" onclick="sdnClick(40506)">
                <span style="background-image:url(http://imge.kugou.com/stdmusic/20160805/20160805174132122112.png);_background-image:none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=&#39;http://imge.kugou.com/stdmusic/20160805/20160805174132122112.png&#39;, sizingMethod=&#39;crop&#39;);"></span>
                伤感网络情歌
            </a>
        </li>																												<li>
            <a title="KTV" id="24307" hidefocus="true" href="http://www.kugou.com/yy/rank/home/1-24307.html?from=rank" onclick="sdnClick(36271)">
                <span style="background-image:url(http://imge.kugou.com/stdmusic/20151222/20151222142813590494.png);_background-image:none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=&#39;http://imge.kugou.com/stdmusic/20151222/20151222142813590494.png&#39;, sizingMethod=&#39;crop&#39;);"></span>
                KTV
            </a>
        </li>																												<li>
            <a title="影视金曲" id="22096" hidefocus="true" href="http://www.kugou.com/yy/rank/home/1-22096.html?from=rank" onclick="sdnClick(34060)">
                <span style="background-image:url(http://imge.kugou.com/stdmusic/20151222/20151222143034989298.png);_background-image:none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=&#39;http://imge.kugou.com/stdmusic/20151222/20151222143034989298.png&#39;, sizingMethod=&#39;crop&#39;);"></span>
                影视金曲
            </a>
        </li>																												<li>
            <a title="纯音乐" id="28475" hidefocus="true" href="http://www.kugou.com/yy/rank/home/1-28475.html?from=rank" onclick="sdnClick(40439)">
                <span style="background-image:url(http://imge.kugou.com/stdmusic/20160728/20160728182722980092.png);_background-image:none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=&#39;http://imge.kugou.com/stdmusic/20160728/20160728182722980092.png&#39;, sizingMethod=&#39;crop&#39;);"></span>
                纯音乐
            </a>
        </li>				</ul>
    </div>-->
    <!-- 全球榜
    <div class="pc_rank_sidebar">
        <h3 data-index="2">
            <a href="javascript:;" hidefocus="true" title="全球榜">
                全球榜 <i class="pc_temp_arrow"></i>
            </a>
        </h3>
        <ul class="clear_fix">
		<li>
            <a title="美国BillBoard榜" hidefocus="true" href="http://www.kugou.com/yy/rank/home/1-4681.html?from=rank" onclick="sdnClick(12022)">
                <span style="background-image:url(http://imge.kugou.com/temppic/20130807/20130807192258314669.png);_background-image:none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=&#39;http://imge.kugou.com/temppic/20130807/20130807192258314669.png&#39;, sizingMethod=&#39;crop&#39;);"></span>
                美国BillBoard榜 						</a>
        </li><li>
            <a title="韩国M-net音乐榜" hidefocus="true" href="http://www.kugou.com/yy/rank/home/1-4672.html?from=rank" onclick="sdnClick(12027)">
                <span style="background-image:url(http://imge.kugou.com/temppic/20130807/20130807193303334739.png);_background-image:none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=&#39;http://imge.kugou.com/temppic/20130807/20130807193303334739.png&#39;, sizingMethod=&#39;crop&#39;);"></span>
                韩国M-net音乐榜</a>
        </li>
		<li>
            <a title="中国TOP排行榜" hidefocus="true" href="http://www.kugou.com/yy/rank/home/1-22163.html?from=rank" onclick="sdnClick()">
                <span style="background-image:url(http://imge.kugou.com/temppic/20140827/20140827151250799981.png);_background-image:none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=&#39;http://imge.kugou.com/temppic/20140827/20140827151250799981.png&#39;, sizingMethod=&#39;crop&#39;);"></span>
                中国TOP排行榜</a>
        </li>
        </ul>
    </div>-->
</div>