{include file="public/base_head" /}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<meta name="keywords" content="{$Think.config.webname},y.lmwljz.com">
<meta name="description" itemprop="description"  content="【{$Think.config.webname}】最新最全的在线正版音乐网站，本站为您免费提供最全的在线音乐试听下载，以及全球海量电台和MV播放服务、最新音乐播放器下载。音乐总有新玩法">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="email=no">
<meta name="format-detection" content="address=no">
<meta name="format-detection" content="telephone=no">
<meta name="applicable-device" content="mobile">
<meta name="baidu-site-verification" content="UtTQyEGNH4">
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!-- <script type="text/javascript" src="__BAESDIR__/ckplayer/ckplayer.js" charset="UTF-8"></script> -->
<title>{$list.title}{if condition="$list['albumdesc']"}_{$list.albumdesc}{/if} - MV在线播放_{$Think.config.webname}</title>
<!-- <script src="//qzonestyle.gtimg.cn/open/qcloud/video/h5/h5connect.js" charset="utf-8"></script> -->
<script src="http://qzs.qq.com/tencentvideo_v1/js/tvp/tvp.player.js" charset="utf-8"></script>
<style>
body{border:0px; padding:0px; margin:0px}
div{margin:0px auto;}
.video{width:100%;height:100%;margin: 0px auto;}
</style>
</head>

<body>
<div id="video" class="video" ></div>
<!-- <script>
	var w = $(window).width();
	var h = $(window).height();
	$('#video').css({'width':w,'height':h});
</script> -->

<script>
	$(function(){
		var video = new tvp.VideoInfo();
		video.setVid("{$list.mvid}");//视频vid
		var player = new tvp.Player('100%', '100%');//视频高宽
		player.setCurVideo(video);
		player.addParam("autoplay","1");//是否自动播放，1为自动播放，0为不自动播放
		player.addParam("wmode","opaque");
		player.addParam("showend",0);//结束画面是否有广告画面，或者是该视频本身结束
		player.addParam("adplay",0);  
		player.addParam("wmode","transparent");
		player.addParam("pic","{$list.albumimg}");//默认图片地址
		//player.addParam("flashskin", "http://imgcache.qq.com/minivideo_v1/vd/res/skins/TencentPlayerMiniSkin.swf");//是否调用精简皮肤，不使用则删掉此行代码
		player.write("video");

	});
</script>
<!-- <script type="text/javascript">
    var option = {"width":w,"height":h,"auto_play":1,"third_video":{
        "urls":{
               40:"{$list.playurl}"
            }
        }
    };
    var player = new qcVideo.Player("video", option);
	//player.resize(w,h);
	//https://cloud.tencent.com/document/api/267/5706#definition
</script> -->
</body>
</html>
