<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{$title} - {$Think.config.webname} - 懂你所听</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="__PUBLIC__/play/css/jplayer.blue.monday.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/play/js/jquery.min.js"></script>
<script type="text/javascript" src="{:url('playlist','','js')}?pid={:date('hi')}"></script>
<script type="text/javascript">
	//var playlist = {$list};
	var playpath = "__PUBLIC__/play/js";
	var autoPlay = true; //是否自动播放
</script>
<script type="text/javascript" src="__PUBLIC__/play/js/lmwljz.myplayer.js"></script>
<script type="text/javascript" src="__PUBLIC__/play/js/lmwljz.myplaylist.js"></script>
</head>

<body>
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
	<div class="jp-type-playlist">
		<div class="jp-gui jp-interface">
			<!--操作按钮-->
			<div class="jp-controls">
				<button class="jp-previous" role="button" tabindex="0">上一首</button>
				<button class="jp-play" role="button" tabindex="0">播放</button>
				<button class="jp-next" role="button" tabindex="0">下一首</button>
				<button class="jp-stop" role="button" tabindex="0">停止</button>
			</div>
			<!--播放进度-->
			<div class="jp-progress">
				<div class="jp-seek-bar">
					<div class="jp-play-bar"></div>
				</div>
			</div>
			<!--音量控制-->
			<div class="jp-volume-controls">
				<button class="jp-mute" role="button" tabindex="0">音量-</button>
				<button class="jp-volume-max" role="button" tabindex="0">音量+</button>
				<div class="jp-volume-bar">
					<div class="jp-volume-bar-value"></div>
				</div>
			</div>
			<!--播放时间轴-->
			<div class="jp-time-holder">
				<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
				<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
			</div>
			
			<div class="jp-toggles">
				<button class="jp-repeat" role="button" tabindex="0">repeat</button>
				<button class="jp-shuffle" role="button" tabindex="0">shuffle</button>
			</div>
		</div>
		<!--列表-->
		<div class="jp-playlist">
			<ul>
				<li>&nbsp;</li>
			</ul>
		</div>
		<div class="jp-no-solution">
			<span>Update Required</span>
			To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
		</div>
	</div>
</div>

</body>
<script type="text/javascript" src="__PUBLIC__/play/js/dowo.myplayer.js"></script>
</html>
