<link rel="stylesheet" data-embed="" href="__PUBLIC__/css/footer.css">
<div class="footerWrapper">
    <div class="footer">
        <div class="links">
            <a hidefocus="true" href="javascript:;" target="_blank">关于搬运工</a> | 
			<a hidefocus="true" href="javascript:void(0);" id="report">监督举报</a> | 
			<a hidefocus="true" href="javascript:;" target="_blank">广告服务</a> | 
			<a hidefocus="true" target="_blank" href="javascript:;">版权指引</a> |
			<a target="_blank" href="javascript:;">隐私政策</a>| 
			<a hidefocus="true" target="_blank" href="javascript:;">用户服务协议</a> | 
			<a hidefocus="true" target="_blank" href="javascript:;">推广合作</a> | 
			<a hidefocus="true" target="_blank" href="javascript:;">懂我音乐人</a> |
			<a hidefocus="true" target="_blank" href="javascript:;">懂我音乐推</a>
        </div>
        <div class="copyright">
           <p>我们致力于推动网络正版音乐发展，相关版权合作请联系xiaoyao@lmwljz.com</p>
            <p>信息网络传播视听节目许可证 1910564 增值电信业务经营许可证粤B2-20060339 &nbsp;&nbsp;&nbsp;<a hidefocus="true" target="_blank" href="http://www.miitbeian.gov.cn/">粤ICP备09017694号-2</a><span class="footerIcon"><a target="_blank" href="http://sq.ccm.gov.cn/ccnt/sczr/service/business/emark/toDetail/E64D2439A71544C7B995FC0A53D8F965">&nbsp;&nbsp;&nbsp;&nbsp;</a></span></p>
            <p>广播电视节目制作经营许可证（粤）字第01270号&nbsp;&nbsp;&nbsp;&nbsp;营业性演出许可证穗天演440106026</p>
            <p>穗公网监备案证第44010650010167&nbsp;&nbsp;&nbsp;&nbsp;互联网药品信息服务资格证编号（粤）-非经营性-2012-0018<a style="" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44010602000141">&nbsp;&nbsp;&nbsp;<span>粤公网安备 44010602000141号</span><img style="vertical-align: text-bottom;" }="" src="__PUBLIC__/images/icon_yuewangga1.png" width="16" height="16"></a></p>
            <p>Copyright&nbsp;&nbsp;©&nbsp;&nbsp;2015-2018 Dwmucis-Inc.All Rights Reserved
                <a hidefocus="true" class="office-verification" href="http://netadreg.gzaic.gov.cn/ntmm/WebSear/WebLogoPub.aspx?logo=440106106022006022000209" target="_blank"></a>
            </p>

        </div>
    </div>
</div>
<script type="text/javascript" charset="UTF-8" src="{:url('Index/index/statistics','','js')}"></script>